@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html {
    max-width: 1440px;
    max-height: 900px;
    background-image: url(/images/bg-intro-desktop.png);
    background-position: center;
    background-color: hsl(0, 100%, 74%);
    background-repeat: repeat;
    margin: 0 auto;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 100vh;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1rem;
}

.hero-txt {
    color: hsl(0, 0%, 100%);
}

.form {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.try {
    width: 100%;
    height: 60px;
    background-color: hsl(248, 32%, 49%);
    border: none;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    font-size: 1.1em;
}

.try span {
    font-weight: 600;
}

form {
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.75);
}

input {
    width: 80%;
    height: 50px;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid hsla(0, 89%, 58%, 0.4);
}

input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.75);
}

input[type="submit"] {
    background-color: hsl(154, 59%, 51%);
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: grid;
}

input[type="submit"] {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #57cc99;
    background: #57cc99;
}

input[type="submit"]:hover {
    background: #fff;
    color: #57cc99
}

form p {
    font-size: 11px;
    position: relative;
    bottom: 50px;
    color: hsl(246, 25%, 77%);
    border: unset;
}

p span {
    font-weight: 600;
    font-size: 12px;
    color: hsl(249, 10%, 26%);
}

@media screen and (max-width: 800px) {
    .content {
        display: flex;
        flex-basis: 50%;
    }
}

@media screen and (max-width: 480px) {
    html {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .content {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        text-align: center;
    }
    .hero-txt {
        padding: 10px;
    }
    .form {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .try {
        width: 80%;
        font-size: 0.8em;
    }
    form {
        margin-top: 20px;
        width: 80%;
        font-size: 0.8em;
        height: 50vh;
    }
    form p {
        text-align: center;
        width: 80%;
        position: relative;
        bottom: 10px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}